/* FONTS */
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CreatoLight";
  src: url("../assets/fonts/CreatoDisplay-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CreatoRegular";
  src: url("../assets/fonts/CreatoDisplay-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* STYLE */

html, body {
  margin: 0;
  padding: 0;
  /*font-family: Hustle Actlife Regular;*/
  font-family: "CreatoLight", "Montserrat", sans-serif;
}

body {
    height: 100000rem;
}

