--- 
const background = "../images/DSCF8052.jpg";
const pageTitle = "Home Page";


import { Image } from "astro:assets";

import Navigation from '../components/Navigation.astro';
import "../styles/global.css";
import backgroundIMage from "../images/background/DSCF8052.jpg";



---

<html lang="en">
	<style>
	  h1 { color: red; }
	  menu {}
	</style>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<section class="hero">
			<Image 
    			src={backgroundIMage}
    			alt="Background"
    			width={1920}
    			class="hero-bg"
  			/>

  			<div class="hero-content">
    			<h1>My Photography</h1>
  			</div>
		</section>

		<style>
			.hero {
			position: relative;
			height: 100vh;
			overflow: hidden;
			}

			.hero-bg {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
			}

			.hero-content {
			position: relative;
			display: grid;
			place-items: center;
			height: 100%;
			color: white;
			font-size: 3rem;
			}
		</style>
	</body>
</html>
